<head><link rel="stylesheet" href="resources\static\css/styles.css"></head>
<br />
<div class="inner contact">
                <!-- Form Area -->
                <div class="contact-form">
                    <h1>INGRESAR PARTIDO</h1>
                    <a href="/partidoC" class="">PARTIDO</a>
                    <br>
                    <h1>INGRESAR INTEGRANTE</h1>
                    <a href="/integranteC" class="">INTEGRANTE</a>
                    <!-- Form -->
                    

                    <!-- Your Mail Message -->
                    <div class="mail-message-area">
                        <!-- Message -->
                        <div class="alert gray-bg mail-message not-visible-message">
                            <strong>Thank You !</strong> Your email has been delivered.
                        </div>
                    </div>

                </div><!-- End Contact Form Area -->
            </div><!-- End Inner -->


