<head><link rel="stylesheet" href="resources\static\css/styles.css"></head>
<br />
<div class="inner contact">
                <!-- Form Area -->
                <div class="contact-form">
                    <a href="/" class="">VOLVER</a>
                    <h1>INGRESAR INTEGRANTE</h1>
                    <form method="post" action="/registrarI" enctype="multipart/form-data">
                        <!-- Left Inputs -->
                        <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
                            <!-- Name -->
                            <input type="text" name="nombre" class="form" placeholder="Nombre" />
                            <!-- Email -->
                            <input type="file" name="archivo" class="form"/>
                            <!-- Subject -->
                            <input type="text" name="idPartido" class="form" placeholder="idPartido" />
                        </div><!-- End Left Inputs -->
                        <!-- Right Inputs -->
                        
                        <!-- Bottom Submit -->
                        <div class="relative fullwidth col-xs-12">
                            <!-- Send Button -->
                            <button type="submit" class="">ENVIAR</button> 
                        </div><!-- End Bottom Submit -->
                        <!-- Clear -->
                        <div class="clear"></div>
                    </form>
                    
                      
                    

                </div><!-- End Contact Form Area -->
            </div><!-- End Inner -->





